/* Icon Button */

%ic-btn-base {
  @include inline-flexbox;

  border-radius: 0.6rem;
  transition: $base-transition;
}

.ic-btn {
  @extend %ic-btn-base;

  &-lg {
    padding: 0.8rem;
  }

  &-md {
    padding: 0.4rem;
  }
}

.ic-btn-outline {
  border: 0.1rem solid $gray70;

  &:hover:not(:disabled) {
    border: 0.1rem solid $gray30;

    @include responsive(M) {
      border: 0.1rem solid $gray70;
    }
  }

  &:focus:not(:disabled) {
    border: 0.1rem solid $primary;
  }

  &-active {
    border: 0.1rem solid $primary;

    &:hover:not(:disabled) {
      border: 0.1rem solid $primary;
    }
  }
}

.ic-box {
  position: relative;

  &-24 {
    width: 2.4rem;
    height: 2.4rem;
  }

  &-16 {
    width: 1.6rem;
    height: 1.6rem;
  }
}

/* mix(text , image button) */

%mix-btn-base-4 {
  @include inline-flexbox($gap: 0.4rem);
}

%mix-btn-base-8 {
  @include inline-flexbox($gap: 0.8rem);
}

.mix-btn-4 {
  @extend %mix-btn-base-4;

  .mix-text {
    &-14 {
      @include text-style(14, $gray10);
    }

    &-24 {
      @include text-style(24, $gray10, bold);
    }
  }
}

.mix-btn-md {
  @extend %mix-btn-base-8;

  .mix-text {
    &-14 {
      @include text-style(14, $gray10);
    }

    &-24 {
      @include text-style(24, $gray10, bold);
    }
  }
}

.mix-box {
  position: relative;

  &-18 {
    width: 1.8rem;
    height: 1.8rem;
  }

  &-24 {
    width: 2.4rem;
    height: 2.4rem;
  }
}
