.spinner {
  position: relative;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  top: 40vh;
  left: 45vw;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
