.spinner {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50vh;
  left: 50vw;

  &-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $opacity-black-30;
    z-index: $overlay-level;
  }
}
