.spinner {
  position: fixed;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  top: 50vh;
  left: 50vw;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
