.container {
  @include inline-flexbox($gap: 0.6rem);

  padding: 0.4rem 0.8rem;
  border: 0.1rem solid $gray70;
  border-radius: 10rem;

  &:hover {
    border: 0.1rem solid $gray40;
  }
}

.members-list {
  @include flexbox;

  cursor: pointer;

  &-num {
    @include flexbox;
    @include text-style(12, $gray20);

    width: 2.8rem;
    margin: 0 0.2rem;
    background-color: $gray70;
    border-radius: 50%;
    aspect-ratio: 1;
    box-sizing: content-box;
  }
}

.line {
  width: 0.1rem;
  height: 2.4rem;
  background-color: $gray70;
}

.button {
  margin-right: 0.4rem;
}
