.signup {
  max-width: 42rem;
  margin: 0 auto;
  padding-top: 16rem;

  @include responsive(M) {
    max-width: 100%;
    padding: 14rem 1.5rem;
  }

  &-form {
    @include column-flexbox($gap: 2.4rem);

    position: relative;
    width: 100%;

    &-messsage {
      @include text-style(14, $gray20);

      position: absolute;
      right: 0;
      bottom: 6.4rem;
    }
  }

  &-info {
    @include flexbox;

    width: 100%;
    margin-top: 2.4rem;

    &-desc {
      @include text-style(14, $gray20);
    }

    .btn-login {
      @include text-style(14, $primary);

      margin-left: 0.6rem;
    }
  }

  &-btn-box {
    width: inherit;
    margin-top: 0.8rem;
  }
}
