.dropdowntag {
  @include flexbox(start, start);
  @include text-style(14, $primary);

  background-color: $tag-background;
  padding: 0 0.8rem;
  border-radius: 0.4rem;

  &:hover {
    cursor: pointer;
  }
}
