.button {
  position: relative;
  padding: 0.8rem;
  border: 0.1rem solid $gray70;
  border-radius: 0.6rem;
  line-height: 0;
  transition: $base-transition;

  &:hover {
    border: 0.1rem solid $gray30;
  }

  &.active {
    border: 0.1rem solid $primary;
  }
}

.popup {
  position: absolute;
  top: 6.3rem;
  right: 4.6rem;
  z-index: $modal-level;

  @include responsive(M) {
    right: 1.5rem;
  }
}
