.landing-nav {
  @include inline-flexbox(between, center);

  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem 4.8rem;
  z-index: $header-level;
  backdrop-filter: blur(5rem);
  background-color: transparent;

  @include responsive(M) {
    padding: 2rem 3rem;
  }
}

.landing-nav-login {
  @include inline-flexbox($gap: 1.2rem);
}

.landing-nav-loginbutton {
  @include flexbox;
  @include text-style(20, $white, bold);

  height: 4.8rem;
  width: 12rem;
  border-radius: 0.6rem;
  border: 0.1rem solid $primary;
  padding: 0.8rem 0.6rem;
  line-height: 150%;
  transition: $base-transition;

  &:hover {
    background: $primary;
    color: $black;
  }
}

.landing-nav-signupbutton {
  @include flexbox;
  @include text-style(20, $primary, bold);

  height: 4.8rem;
  width: 12rem;
  border-radius: 0.6rem;
  background: $black;
  border: 0.1rem solid $black;
  color: $primary;
  padding: 0.8rem 0.6rem;
  line-height: 150%;
  transition: $base-transition;

  &:hover {
    border: 0.1rem solid $primary;
  }
}
