.container {
  @include flexbox(between);

  flex-shrink: 0;
  width: 100%;
  height: 7rem;
  padding: 0 3.2rem;
  border-bottom: 0.1rem solid $gray70;

  @include responsive(M) {
    width: 100%;
    height: 7rem;
    padding: 0 1.5rem;
  }
}

.my-menu {
  @include flexbox($gap: 1.6rem);

  @include responsive(M) {
    gap: 0.8rem;
  }
}

.image {
  width: 13rem;
  height: 2rem;
}
