.container {
  @include flexbox(between);
  @include responsive(M) {
    padding: 0 1.5rem;
  }

  width: 100%;
  height: 7rem;
}

.my-menu {
  @include flexbox($gap: 1.6rem);
}

.image {
  width: 13rem;
  height: 2rem;
}
