%modal-base {
  @include pos-center;
  @include responsive(M);

  width: 100%;
  margin: 0 1.2rem;
  background-color: $modal-background;
  border: 0.2rem solid $gray70;
  border-radius: 1.6rem;
  outline: none;
  box-shadow: $modal-shadow;
}

%overlay-base {
  position: fixed;
  inset: 0;
  outline: none;
}

.icon-modal-overlay {
  @extend %overlay-base;

  z-index: $overlay-level;
}

.modal-overlay {
  @extend %overlay-base;

  background-color: rgba(0 0 0 / 60%);
  z-index: $modal-level;
}

.common-modal-container {
  @extend %modal-base;
  @include column-flexbox;

  min-width: 48.4rem;
  padding: 3.2rem;

  .modal-header-container {
    @include flexbox($jc: between);

    width: 100%;

    .title-container {
      @include flexbox($ai: center, $gap: 0.8rem);

      .column-title {
        @include text-style-14;

        padding: 0 0.8rem;
        color: $primary;
        background: rgba(255 255 255 / 5%);
        border-radius: 0.4rem;
      }

      .card-title {
        @include text-style-18;
      }
    }
  }

  .label {
    @include text-style(24, $white, bold);

    margin-right: auto;
    padding-bottom: 2.4rem;
  }
}

.icon-modal-container {
  @extend %modal-base;

  min-width: 36rem;
  padding: 3.2rem 0;

  .wrapper {
    @include column-flexbox($gap: 2.4rem);

    .container {
      @include column-flexbox($gap: 0.8rem);

      .span-container {
        @include column-flexbox($gap: 0.4rem);

        .span-lg {
          @include text-style(18, $gray10);
        }

        .span-sm {
          @include text-style(14, $gray20);
        }
      }
    }
  }
}
