%modal-base {
  background-color: $modal-background;
  border: 0.2rem solid $gray70;
  border-radius: 1.6rem;
  outline: none;
  box-shadow: $modal-shadow;
}

%overlay-base {
  @include flexbox;

  position: fixed;
  inset: 0;
  outline: none;
}

@keyframes show-modal {
  0% {
    transform: translateY(2rem);
  }

  100% {
    transform: translateY(0);
  }
}

.icon-modal-overlay {
  @extend %overlay-base;

  z-index: $overlay-level;
}

.body-open {
  overflow: hidden;
}

.modal-overlay {
  @extend %overlay-base;

  background-color: $opacity-black-60;
  z-index: $modal-level;

  @include responsive(M) {
    padding: 0 1.5rem;
  }
}

.common-modal-container {
  @extend %modal-base;
  @include column-flexbox($gap: 2.4rem);

  min-width: 48.4rem;
  padding: 2.4rem;
  animation: show-modal ease-in-out 0.4s;

  @include responsive(M) {
    min-width: 100%;
    width: 100%;
  }

  .modal-header-container {
    @include flexbox(between);

    width: 100%;

    .title-container {
      @include flexbox($gap: 0.8rem);

      .column-title {
        @include text-style(14, $primary);

        padding: 0 0.8rem;
        background: $tag-background;
        border-radius: 0.4rem;
      }

      .card-title {
        @include text-style(18, $gray10, bold);
      }
    }

    .dropdown {
      position: relative;
      z-index: $modal-dropdown-level;
      top: -0.2rem;
    }
  }

  .label {
    @include text-style(24, $white, bold);

    margin-right: auto;
  }
}

.icon-modal-container {
  @extend %modal-base;

  min-width: 33rem;
  padding: 3.2rem 0;
  animation: show-modal ease-in-out 0.4s;
  box-shadow: $dropdown-shadow;

  .wrapper {
    @include column-flexbox($gap: 2.4rem);

    .container {
      @include column-flexbox($gap: 0.8rem);

      .span-container {
        @include column-flexbox($gap: 0.4rem);

        .span-lg {
          @include text-style(18, $gray10);
        }

        .span-sm {
          @include text-style(14, $gray20);
        }
      }
    }
  }
}
