.container {
  @include column-flexbox($gap: 2.4rem);

  width: 30.4rem;
  padding: 3rem;
  background-color: $gray90;
  border: 0.2rem solid $gray70;
  border-radius: 1.6rem;
  box-shadow: $dropdown-shadow;
}

.profile {
  @include column-flexbox;
}

.name {
  @include text-style(16, $gray10, bold);

  margin-top: 1.4rem;
}

.email {
  @include text-style(14, $gray20);

  margin-top: 0.4rem;
}

.button-wrap {
  @include column-flexbox($gap: 1.2rem);

  width: 100%;
}

.link {
  width: 100%;
}

.modal-buttons {
  @include inline-flexbox(center, center, 1.2rem);
}

.modal-buttons-cancel {
  @include flexbox(center, center);
  @include text-style(16, $gray40, bold);

  width: 12rem;
  height: 4.8rem;
  padding: 0 0.8rem;
  border-radius: 0.6rem;
  border: 0.1rem solid $gray60;
}

.modal-buttons-logout {
  @include flexbox(center, center);
  @include text-style(16, $primary, bold);

  width: 12rem;
  height: 4.8rem;
  padding: 0 0.8rem;
  border-radius: 0.6rem;
  background-color: $black;
  transition: $base-transition;

  &:hover {
    @include text-style(16, $gray70, bold);

    background-color: $primary;
  }
}
