.password {
  @include flexbox(end);

  &-form {
    @include column-flexbox($gap: 2.4rem);

    width: 100%;
    max-width: 42rem;

    @include responsive(M) {
      max-width: 100%;
    }
  }

  &-btn-container {
    @include flexbox(end);

    width: 100%;
  }

  &-btn-box {
    width: 100%;
    max-width: 12rem;

    @include responsive(M) {
      max-width: 100%;
    }
  }
}
