.tagsinput {
  padding: 10px;
  height: 100vh;
}

.tagsinput-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50px;
  margin: 10px;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 10px;

  &:focus-within {
    border-color: tomato;
  }
}

.tagsinput-tags-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  background-color: tomato;
  border-radius: 5px;
  color: white;
  font-size: 13px;
}

.tagsinput-tags-item-deletebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background-color: white;
  border-radius: 50%;
  color: tomato;
}

.tagsinput-input {
  display: inline-flex;
  min-width: 150px;
  background: transparent;
  border: none;
  outline: none;
  cursor: text;
}
