.dropdownlist {
  position: absolute;
  top: 4.2rem;
  right: 0;
  width: 12rem;
  transition: max-height 0.5s ease-in-out;

  &-list {
    @include column-flexbox(start, center, 0.4rem);

    padding: 0.8rem;
    border-radius: 0.6rem;
    border: 0.1rem solid $gray60;
    background: $gray70;
    box-shadow: $dropdown-shadow;
  }

  &-list-item {
    @include text-style(16, $gray10);

    width: 100%;
    padding: 0.8rem;
    border-radius: 0.4rem;
    background: $gray70;

    &:hover {
      background: $gray50;
      cursor: pointer;
    }
  }
}
