/* stylelint-disable */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: $browser-font-size;
  font-family: $font-main;
}

body {
  color: $gray10;
  background-color: $gray90;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  color: $gray40;
}

a,
button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: $gray10;
  -webkit-box-shadow: 0 0 0 1000px $gray70 inset;
  box-shadow: 0 0 0 1000px $gray70 inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: $gray10;
  -webkit-box-shadow: 0 0 0 1000px $gray70 inset;
  box-shadow: 0 0 0 1000px $gray70 inset;
  transition: background-color 5000s ease-in-out 0s;
}
