.nav-container {
  @include column-flexbox($jc: between);

  width: 72px;
  height: 100vh;
  padding: 2.4rem 1.2rem;
  background-color: $black;

  .button-container {
    @include column-flexbox($jc: between, $gap: 1.6rem);

    padding-top: 13.8rem;
  }
}
